@model UniversityManagementSystemApp.Models.ClassRoom

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ClassRoom</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null,"--Select--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", new List<SelectListItem>(), "--Select--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomNo", new List<SelectListItem>
                {
                    new SelectListItem{Text="R301", Value = "R301"},
                    new SelectListItem{Text="R302", Value = "R302"},
                    new SelectListItem{Text="R303", Value = "R303"},
                    new SelectListItem{Text="R304", Value = "R304"},
                    new SelectListItem{Text="R305", Value = "R305"},
                    new SelectListItem{Text="R306", Value = "R306"},
                }, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Days", new List<SelectListItem>
                {
                    new SelectListItem{Text="Saturday", Value ="Saturday"},
                    new SelectListItem{Text="Sunday", Value = "Sunday" },
                    new SelectListItem{Text="Monday", Value = "Monday" },
                    new SelectListItem{Text="Tuesday", Value = "Tuesday"},
                    new SelectListItem{Text="Wednessday", Value="Wednessda"},
                    new SelectListItem{Text="Thusday", Value = "Thusday"},
                    new SelectListItem{Text="Friday", Value = "Friday" }
                    
                }, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="StartTime" id="StartTime" placeholder="h:mm PM" data-default-time="false" class="form-control">
                @*@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="EndTime" id="EndTime" placeholder="h:mm PM" data-default-time="false" class="form-control">
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" id="saveButton" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#StartTime').timepicker();
        $('#EndTime').timepicker();
        
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                var optionSelected = $(this).find("option:selected");
                var depId = optionSelected.val();
                $('#CourseId').empty();
                $('#CourseId').first().val(null).html("<option value=''>--Select--</option>");
                var mydata = { departmentId: depId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllCourseByDepartment", "Courses")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(mydata),
                    dataType: "json",
                    success: function (data) {

                        var mySelect = $('#CourseId');
                        $('<option></option>').val("--Select--").html(null);
                        $.each(data, function (val, text) {
                            mySelect.append(
                                $('<option></option>').val(text.CourseId).html(text.Name)
                            );
                        });
                    }
                });
            });
        });
    </script>
}
